
{% ckan_extends %}
{% block package_metadata_fields %}
	<div class="control-group">
	    <label class="control-label" for="field-madih_time_period">{{ _("Time Period") }}</label>
	    <div class="controls">
	      <select multiple id="field-madih_time_period" name="madih_time_period" data-module="autocomplete">
	        {% for madih_time_periods in h.madih_time_periods()  %}
	          <option value="{{ madih_time_periods }}" {% if madih_time_periods in data.get('madih_time_periods', []) %}selected="selected"{% endif %}>{{ madih_time_periods}}</option>
	        {% endfor %}
	      </select>
	    </div>
	  </div>

	  <div class="control-group">
    <label class="control-label" for="field-kdl_project_status">{{ _('Project status') }}</label>
    <div class="controls">
      <select id="field-kdl_project_status" name="kdl_project_status" data-module="autocomplete">
        {% for kdl_project_status in h.kdl_project_status()  %}
        <option value="{{ kdl_project_status }}" {% if kdl_project_status in data.get('kdl_project_status', []) %}selected="selected"{% endif %}>
            {{ kdl_project_status }}
        </option>
        {% endfor %}
    </select>
</div>
</div>
    {{ super() }}
{% endblock %}